.pizza-button
  a(href="https://www.buymeacoffee.com/robpetrin" target="_blank" title='Buy me a pizza!') 
    button
      i.fa-solid.fa-pizza-slice

nav#menu
  .logo-wrap
    img(src='https://assets.codepen.io/1004111/481414-200.svg')
  ul.menu
    li.menu-item#current-toggle
      a.active
        .icon 
          i.fas.fa-hand-point-down
        span Current
    li.menu-item#ranks-toggle.coming-soon 
      a
        .icon 
          i.fa-solid.fa-medal
        span Ranks
    li.menu-item#changes-toggle
      a
        .icon 
          i.fa-solid.fa-arrows-rotate
        span Changes
    li.menu-item#calendar-toggle
      a
        .icon 
          i.fa-solid.fa-calendar-days
        span Calendar
    li.menu-item#cities-toggle
      a
        .icon 
          i.fa-solid.fa-map-location-dot
        span Map
    li.menu-item#blog-toggle.coming-soon
      a
        .icon 
          i.fa-solid.fa-blog
        span Blog

main#panel
  label.toggle(for='check' title="Spacebar also works!")
    input#check(type='checkbox' onclick='slideout.toggle()')
    span
    span
    span
  .main-inside(onclick='closeIcon()')
    h1 Matstat
      span.tag beta 
        span(style="text-transform: lowercase")  v
        span 0.1
    p.subhead-top Professional wrestling title change database

    .filters-container
      .filters-title
        i.fa-solid.fa-filter.icon.active
        i.fa-solid.fa-times.icon
        span Filters
      .filters-drawer.closed
        .filters.date
          input#filter-date(placeholder="Filter by Date Range")
        .filters.cities
          input.cities-input(placeholder="Text Filter")#city-search
        .filters-reset#reset-button Reset
        .filters.promotions
          p Promotion Toggles
          .promotion-tags
            .promotion-tag.all ALL
            .promotion-tag.none NONE
            .promotion-tag#wwe WWE
            .promotion-tag#nxt NXT
            .promotion-tag#aew AEW
            .promotion-tag#njpw NJPW
            .promotion-tag#impact Impact
            .promotion-tag#nxtuk NXTUK

    .main-content
      #current
        h2#h2 Current Champions
          br.hide-big
          span(onclick="drawActiveBoard()").current-direction Sort by Least Recent
        .active-champs
          .active-champs-inner
        .average-reign
      #ranks
        h2 Rankings
      #changes
        h2 Title Changes
        .changes-table
      #calendar
        h2 Calendar
        .calendar-main
          .calendar-filters
            select(onchange="changeMonth(this.value)").calendar-month-filters
              option(value='Jan') Jan
              option(value='Feb') Feb
              option(value='Mar') Mar
              option(value='Apr') Apr
              option(value='May') May
              option(value='Jun') Jun
              option(value='Jul') Jul
              option(value='Aug') Aug
              option(value='Sep') Sep
              option(value='Oct') Oct
              option(value='Nov') Nov
              option(value='Dec') Dec
            select(onchange="changeDay(this.value)").calendar-day-filters
              option(value='01') 1st
              option(value='02') 2nd
              option(value='03') 3rd
              option(value='04') 4th
              option(value='05') 5th
              option(value='06') 6th
              option(value='07') 7th
              option(value='08') 8th
              option(value='09') 9th
              option(value='10') 10th
              option(value='11') 11st
              option(value='12') 12th
              option(value='13') 13th
              option(value='14') 14th
              option(value='15') 15th
              option(value='16') 16th
              option(value='17') 17th
              option(value='18') 18th
              option(value='19') 19th
              option(value='20') 20th
              option(value='21') 21st
              option(value='22') 22nd
              option(value='23') 23rd
              option(value='24') 24th
              option(value='25') 25th
              option(value='26') 26th
              option(value='27') 27th
              option(value='28') 28th
              option(value='29') 29th
              option(value='30') 30th
              option(value='31') 31st
          .calendar-content
            .on-this-date-wrap
              ul.calendar-list.on-this-date
      #cities
        h2 Map of Title Changes
        .map-section
          #map.map
          p Table of winners to change the map view below.
      #blog
        h2 Latest Blogs
          p Table of winners to change the map view below.