.pizza-button
  a(href="https://www.buymeacoffee.com/robpetrin" target="_blank" title='Buy me a pizza!') 
    button
      i.fa-solid.fa-pizza-slice

nav#menu
  .logo-wrap
    img(src='https://assets.codepen.io/1004111/481414-200.svg')
  ul.menu
    li.menu-item#current-toggle
      a    
        .icon 
          i.fas.fa-hand-point-down
        span Current
    li.menu-item#ranks-toggle
      a
        .icon 
          i.fa-solid.fa-medal
        span Ranks
    li.menu-item#changes-toggle
      a
        .icon 
          i.fa-solid.fa-arrows-rotate
        span Changes
    li.menu-item#calendar-toggle
      a
        .icon 
          i.fa-solid.fa-calendar-days
        span Calendar
    li.menu-item#map-toggle
      a
        .icon 
          i.fa-solid.fa-map-location-dot
        span Map
    li.yellow
      .filters-title
        .filters-icon
          .icon.active
            i.fa-solid.fa-filter
          .icon
            i.fa-solid.fa-times
        span Filters
      .filters-drawer
        .filters.date
          p Dates
          .date-start
            span Start
            input#filter-start(placeholder="Date")
          .date-end
            span End
            input#filter-end(placeholder="Date")
        .filters.promotions
          p Feds
          .promotion-tags
            .promotion-tag#wwe WWE
            .promotion-tag#nxt NXT
            .promotion-tag#aew AEW
            .promotion-tag#njpw NJPW
            .promotion-tag#impact Impact
            .promotion-tag#nxtuk NXT UK
        .filters.cities
          p Cities
          input.cities-input(placeholder="Search City Name")#city-search
        .filters-reset#reset-button Reset

main#panel
  label.toggle(for='check' title="Spacebar also works!")
    input#check(type='checkbox' onclick='slideout.toggle()')
    span
    span
    span
  .main-inside(onclick='closeIcon()')
    h1 Matstat
      span.tag beta
    p(style="margin-left: 0.5rem; margin: -0.5rem 0.5rem 2rem") Professional wrestling title change database
    .main-content
      #current
        h2#h2 Current Champions
        .active-champs
      #ranks
        h2 Rankings
      #changes
        h2 Title Changes
        .changes-table
      #calendar
        h2 Calendar
        .calendar-section
          h3 Calendar Filters
        .calendar-filters
          ul.calendar-month-filters
            li(onclick="changeMonth('Jan')") Jan
            li(onclick="changeMonth('Feb')") Feb
            li(onclick="changeMonth('Mar')") Mar
            li(onclick="changeMonth('Apr')") Apr
            li(onclick="changeMonth('May')") May
            li(onclick="changeMonth('Jun')") Jun
            li(onclick="changeMonth('Jul')") Jul
            li(onclick="changeMonth('Aug')") Aug
            li(onclick="changeMonth('Sep')") Sep
            li(onclick="changeMonth('Oct')") Oct
            li(onclick="changeMonth('Nov')") Nov
            li(onclick="changeMonth('Dec')") Dec
          ul.calendar-day-filters
            li(onclick="changeDay('01')") 1st
            li(onclick="changeDay('02')") 2nd
            li(onclick="changeDay('03')") 3rd
            li(onclick="changeDay('04')") 4th
            li(onclick="changeDay('05')") 5th
            li(onclick="changeDay('06')") 6th
            li(onclick="changeDay('07')") 7th
            li(onclick="changeDay('08')") 8th
            li(onclick="changeDay('09')") 9th
            li(onclick="changeDay('10')") 10th
            li(onclick="changeDay('11')") 11st
            li(onclick="changeDay('12')") 12th
            li(onclick="changeDay('13')") 13th
            li(onclick="changeDay('14')") 14th
            li(onclick="changeDay('15')") 15th
            li(onclick="changeDay('16')") 16th
            li(onclick="changeDay('17')") 17th
            li(onclick="changeDay('18')") 18th
            li(onclick="changeDay('19')") 19th
            li(onclick="changeDay('20')") 20th
            li(onclick="changeDay('21')") 21st
            li(onclick="changeDay('22')") 22nd
            li(onclick="changeDay('23')") 23rd
            li(onclick="changeDay('24')") 24th
            li(onclick="changeDay('25')") 25th
            li(onclick="changeDay('26')") 26th
            li(onclick="changeDay('27')") 27th
            li(onclick="changeDay('28')") 28th
            li(onclick="changeDay('29')") 29th
            li(onclick="changeDay('30')") 30th
            li(onclick="changeDay('31')") 31st
        h3 On This Date: 
          span.todays-date
        ul.calendar-list.on-this-date
      #map
        h2 Map of Title Changes
        .map-section
          #map-element.map
          p Table of winners to change the map view below.